.canvas{
    display: flex;
    justify-content: center;
}
.buttonGroup{
    margin-top: 20px;
    display:flex;
    justify-content: center;
}

button{
    margin-right: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    background-color: #64AC94;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: #1E6B51;
    color: white;
}

button.active{
    background-color: #00E69A;
    border:none;
    color: black;
    outline: none;
}

canvas {
    display: block;
    border: 3px solid #1E6B51;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

canvas.noSelect {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

#message{
    text-align: center;
}

